{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on Nextierlab{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Nextierlab team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on Nextierlab.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate your account:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "Thanks for joining us!" %}</p>

<p>{% blocktrans %}The Nextierlab team{% endblocktrans %}</p>

{% endblock html_body %}